.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

}

.containerHours {
    width: 201px;
    height: 201px;
    position: relative;
    border-radius: 50%;
    background-image: url("../public/photo_2026-02-19_22-16-39.jpg");
    background-size: contain;
}

.second {
    height: 70px;
    width: 4px;
    background-color: white;
    position: absolute;
    content: '';
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
}

.minutes {
    height: 55px;
    width: 4px;
    background-color: white;
    position: absolute;
    content: '';
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
}

.hours {
    height: 35px;
    width: 4px;
    background-color: white;
    position: absolute;
    content: '';
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
}